---
---

<div class="absolute bottom-0 max-h-[150px] h-full w-full">
  <div class="h-full bg-[#8D8781]"></div>
  <div class="absolute bottom-0 w-full bg-[#63564D] h-[104px]">
    <div class="absolute top-0 w-full h-[14px] bg-[#DFB35E]">
      <div class="absolute bottom-0 h-[6px] w-full bg-[#BD8B2A]"></div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full">
    <div class="w-full h-[9px] bg-[#D9D9D9]"></div>
    <div class="overflow-x-hidden flex justify-around w-full">
      {
        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].map(() => {
          return <div class="w-[24px] h-[8px] md:w-[46px] md:h-[10px] bg-[#432C16]"> </div>
        })
      }
    </div>
  </div>
</div>
