---
import githubSvg from '../../github.svg'
import linkedinSvg from '../../linkedin.svg'
---

<style>
  .outer-border {
    border: 10px solid #2e2d2d;
    border-radius: 10px;
  }
  .inner-border {
    border: 1px solid black;
  }
  .inner-most-border {
    border: 4px solid #242424;
  }
</style>

<div class="h-[60%] outer-border w-full max-w-[325px] max-h-[550px]">
  <div class="h-full inner-border w-full">
    <div class="h-full inner-most-border w-full bg-[#F1F1F1]">
      <div class="bg-[#3E3E3E] px-2 pb-1">
        <span class="text-white font-bold text-xs"> Welcome to Montrose Ave</span>
      </div>
      <section class="px-1 my-2">
        <h2 class="text-black font-bold text-sm mb-1">Information</h2>
        <div class="flex flex-col bg-white px-2 py-2 rounded-sm">
          <span class="text-md font-extrabold">Software Engineer</span>
          <span class="text-sm font-semibold"> LegalZoom</span>
        </div>
      </section>
      <section class="px-1 my-2">
        <h2 class="text-black font-bold text-sm mb-1">Where to find me</h2>
        <div class="flex gap-3 bg-white px-2 py-2 rounded-sm">
          <a href="https://github.com/a-ferraro007" target="_blank">
            <img class="w-[30px]" src={githubSvg} />
          </a>
          <a href="https://www.linkedin.com/in/anthony-f-9a7084b8/" target="_blank">
            <img class="w-[30px]" src={linkedinSvg} />
          </a>
        </div>
      </section>
      <section class="px-1 my-2">
        <h2 class="text-black font-bold text-sm mb-1">Upcoming trains at Montrose Ave</h2>
      </section>
    </div>
  </div>
</div>
