---
import RealTimeTrainFeed from '../RealTimeTrainFeed/index.svelte'
---

<style>
  .outer-border {
    border: 10px solid #2e2d2d;
    border-radius: 10px;
  }
  .inner-border {
    border: 1px solid black;
  }
  .inner-most-border {
    border: 4px solid #242424;
  }
</style>

<div class="h-[60%] outer-border w-full max-w-[325px] max-h-[550px] mb-7 lg:mb-0">
  <div class="h-full inner-border w-full">
    <div class="h-full flex flex-col inner-most-border w-full bg-[#F1F1F1]">
      <div class="bg-[#3E3E3E] px-2 pb-1">
        <span class="text-white font-bold text-xs"> Welcome to Montrose Ave</span>
      </div>
      <section class="px-1 my-2">
        <h2 class="text-black font-bold text-sm mb-1">Information</h2>
        <div class="flex flex-col bg-white px-2 py-2 rounded-sm">
          <span class="text-md font-extrabold">Software Engineer</span>
          <span class="text-sm font-semibold"> LegalZoom</span>
        </div>
      </section>
      <section class="px-1 my-2">
        <h2 class="text-black font-bold text-sm mb-1">Where to find me</h2>
        <div class="flex gap-3 bg-white px-2 py-2 rounded-sm">
          <a href="https://github.com/a-ferraro007" target="_blank">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_207_19)">
                <path
                  d="M12 0C5.374 0 0 5.373 0 12C0 17.302 3.438 21.8 8.207 23.387C8.806 23.498 9 23.126 9 22.81V20.576C5.662 21.302 4.967 19.16 4.967 19.16C4.421 17.773 3.634 17.404 3.634 17.404C2.545 16.659 3.717 16.675 3.717 16.675C4.922 16.759 5.556 17.912 5.556 17.912C6.626 19.746 8.363 19.216 9.048 18.909C9.155 18.134 9.466 17.604 9.81 17.305C7.145 17 4.343 15.971 4.343 11.374C4.343 10.063 4.812 8.993 5.579 8.153C5.455 7.85 5.044 6.629 5.696 4.977C5.696 4.977 6.704 4.655 8.997 6.207C9.954 5.941 10.98 5.808 12 5.803C13.02 5.808 14.047 5.941 15.006 6.207C17.297 4.655 18.303 4.977 18.303 4.977C18.956 6.63 18.545 7.851 18.421 8.153C19.191 8.993 19.656 10.064 19.656 11.374C19.656 15.983 16.849 16.998 14.177 17.295C14.607 17.667 15 18.397 15 19.517V22.81C15 23.129 15.192 23.504 15.801 23.386C20.566 21.797 24 17.3 24 12C24 5.373 18.627 0 12 0Z"
                  fill="black"></path>
              </g>
              <defs>
                <clipPath id="clip0_207_19">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/anthony-f-9a7084b8/" target="_blank">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_207_21)">
                <path
                  d="M19 0H5C2.239 0 0 2.239 0 5V19C0 21.761 2.239 24 5 24H19C21.762 24 24 21.761 24 19V5C24 2.239 21.762 0 19 0ZM8 19H5V8H8V19ZM6.5 6.732C5.534 6.732 4.75 5.942 4.75 4.968C4.75 3.994 5.534 3.204 6.5 3.204C7.466 3.204 8.25 3.994 8.25 4.968C8.25 5.942 7.467 6.732 6.5 6.732ZM20 19H17V13.396C17 10.028 13 10.283 13 13.396V19H10V8H13V9.765C14.396 7.179 20 6.988 20 12.241V19Z"
                  fill="black"></path>
              </g>
              <defs>
                <clipPath id="clip0_207_21">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://twitter.com/a_ferraro007" target="_blank">
            <svg version="1.1" id="Logo" width="24" height="24" viewBox="0 0 248 204">
              <g id="Logo_1_">
                <path
                  id="white_background"
                  d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04
		C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66
		c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64
		c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76
		c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26
		c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z"
                ></path>
              </g>
            </svg>
          </a>
        </div>
      </section>
      <section class="flex flex-col h-full px-1 my-2 overflow-hidden">
        <h2 class="text-black font-bold text-sm mb-1">Upcoming trains at Montrose Ave</h2>
        <RealTimeTrainFeed client:load />
      </section>
    </div>
  </div>
</div>
